* {
  box-sizing: border-box;
}

:root {
  background-image: url("viet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.ricehat {
  width: 70px;
  height: auto;
}

.ricehat2 {
  display: none;
}

.container {
  width: 62%;
  margin: 0 auto;
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

form {
  display: grid;
}

.chosen-avatar {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0;
  align-self: center;
  display: none;
}

ul {
  justify-self: center;
  display: grid;
  padding: 0;
  margin: 0;
}

li {
  justify-self: center;
  list-style: none;
  position: relative;
}

li:not(li.avatar-li):not(:first-child) {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

li:first-child, li:last-child {
  justify-self: center;
}

label {
  display: block;
  max-width: 12rem;
  order: 1;
  color: white;
}

input {
  padding: .5rem .5rem 0;
  background-color: inherit;
  border: none;
  border-bottom: 2px solid white;
  order: 2;
  max-width: 12rem;
  margin: 0 auto;
}

input:focus {
  outline: 1px solid blue;
  background-color: rgb(206, 202, 202);
}

input:valid:not([type="file"]):not(:placeholder-shown) {
  outline: 2px solid green;
  background-color: rgb(206, 202, 202);
}

input:invalid:not(:focus):not(:placeholder-shown) {
  outline: 1.5px solid red;
}

input:valid:not(input[type="file"]):not(:placeholder-shown) + label::after {
  content: url("validsvg.svg");
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: .75rem;
  top: 2.75rem;
}
input:invalid:not(:focus):not(:placeholder-shown) + label::after {
  content: url("invalidsvg.svg");
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  right: .75rem;
  top: 2.75rem;
}
input:invalid:not(:focus):not(:placeholder-shown) ~ div:not(.chosen-avatar) {
  display: block;
  max-width: 12rem;
  top: 1.75rem;
  background-color:rgb(203, 172, 172);
  z-index: 2;
}

li:not(.avatar-li) > div:not(.chosen-avatar) {
  display: none;
  background-color: white;
  color: red;
  order: 3;
  border-radius: 5px;
  padding: 2px;
  text-align: center;
  font-size: 12px;
}

.avatar-li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chosen-avatar + p {
  position: block;
  font-size: 1.5rem;
  margin: 0;
  color: tan;
}

.avatar-li div {
  width: 4rem;
  height: 4rem;
  border: 2px solid tan;
  background-size: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  z-index: 1;
  border-radius: 10px;
}
.avatar-li div:nth-child(1) {
  background-image: url("moto2.jpg");
  display: inline-block;
}
.avatar-li div:nth-child(2) {
  background-image: url("canyoning.jpg");
  display: inline-block;
}
.avatar-li div:nth-child(3) {
  background-image: url("hammock.jpg");
  display: inline-block;
}
.avatar-li div:last-child {
  position: relative;
  display: inline-block;
}

.avatar-li div:nth-child(1):hover, .avatar-li div:nth-child(2):hover, 
.avatar-li div:nth-child(3):hover {
  transform: scale(2);
  transition: all ease .1s;
  z-index: 2;
  border: 2px solid blue;
}
.avatar-li div:last-child:hover {
  border: 2px solid blue;
}

#avatar {
  width: 100%;
  position: absolute;
  opacity: 0;
  height: 100%;
}
#avatar + label {
  color: white;
  position: absolute;
}

button {
  margin-top: 3rem;
  width: 12rem;
  height: 3rem;
  background-color: skyblue;
  color: blue;
  position: relative;
  text-align: start;
  font-size: 1rem;
  border-radius: 10px;
}

button > svg {
  width: 3rem;
  height: 1.5rem;
  position: absolute;
  bottom: .55rem;
  right: 1rem;
}

p {
  font-size: 12px;
}

@media screen and (min-width: 801px) {
  
  .all {
    width: 851px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .chosen-avatar {
    position: absolute;
    top: 2rem;
    left: 11rem;
    grid-column: 1 / 3;
    margin: 0;
  }

  .choose {
    display: none;
  }
  .chosen-avatar + p {
    position: absolute;
    width: 12rem;
    border: 2px solid yellow;
    text-align: center;
    grid-column: 1 /3;
    font-size: 1rem;
    margin: 0;
    color: tan;
  }
  
  .ricehat {
    margin: 1rem 0 .5rem;
  }
  .ricehat2 {
    top: 14rem;
    left: 4rem;
    width: 180px;
    height: auto;
    position: absolute;
  }
  .container {
    position: static;
    display: inline;
    padding: 0;
    align-self: center;
    height: auto;
    box-shadow: 5px 5px 10px black;
    border-top: 2px solid rgb(128, 128, 128);
    background-color: rgba(128, 128, 128, .8);
    margin-top: 1rem;
  }
  h2 {
    margin: 1rem 0;
    text-align: start;
  }
  ul {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  li {
    font-size: 16px;
    position: relative;
  }
  li:last-child {
    grid-column: 1 / 3;
    justify-content: center;
    margin: 0 !important;
  }

  .avatar-li {
    grid-column: 1 / 3;
    justify-self: center;
  }
  
  #avatar + label {
    top: 2rem;
    right: .2rem;
  }

  li:first-child {
    grid-column: 1 / 3;
  }
  #avatar + label {
    width: 100%;
    padding-left: .5rem;
    margin: 0;
    top: 2rem;
    right: .2rem;
  }
  label {
    position: absolute;
  }

  input:hover {
    background-color: tan;
  }
  input:focus + label, input:valid:not(:placeholder-shown) + label, 
  input:not(:focus):not(:placeholder-shown):invalid + label {
    transition: all ease .2s;
    transform: translate(-.5rem, -1rem);
    font-weight: 600;
    font-size: .85rem;
    color: white;
  }

  input:valid:not(input[type="file"]):not(:placeholder-shown) + label::after {
    left: 10.75rem;
    top: 1.25rem;
  }
  input:invalid:not(:focus):not(:placeholder-shown) + label::after {
    left: 10.75rem;
    top: 1.25rem;
  }

  input:invalid:not(:focus):not(:placeholder-shown) ~ div {
    top: .25rem;
    position: absolute;
  }
  
  button {
    margin-top: 0;
    height: 2rem;
  }

  button > svg {
    top: .25rem;
    right: .5rem;
  }
}
