* {
  box-sizing: border-box;
}

:root {
  background-image: url("Photos/viet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-size: 16px;
}

.container {
  width: 15rem;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, .8);
  box-shadow: 5px 5px 10px black;
  border-top: 2px solid rgb(128, 128, 128);
  border-left: 2px solid rgb(128, 128, 128);
  border-radius: 25px;
}

ul {
  display: grid;
  padding: 0;
}

li {
  justify-self: center;
  list-style: none;
  position: relative;
  margin: .25rem;
  display: flex;
  flex-direction: column;
}

.ricehat {
  align-self: center;
  width: 30%;
  height: auto;
}

/* Inputs */
input {
  padding: .5rem .5rem .2rem;
  background-color: inherit;
  border-style: outset inset solid outset;
  border-bottom: 2px solid white;
  max-width: 12rem;
  margin: 0 auto;
}

input:focus {
  outline: none;
  border-bottom: 2px solid white;
  background-color: white;
  border-radius: 10px;
}

input:focus + label {
  color: black;
}

input:hover {
  border-color: tan;
  border-bottom-color: tan;
}

input:valid:not(:placeholder-shown):not([type="file"]) {
  border: 2px solid green;
  background-color: white;
  border-radius: 10px;
}

input:invalid:not(:placeholder-shown):not(:focus) {
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
}

/* Labels */
label {
  display: block;
  color: white;
}

input:placeholder-shown:hover + label {
  color: tan;
  border-color: tan;
}

input:valid:not(:placeholder-shown):not(input[type="file"]) + label::after {
  content: url("Photos/validsvg.svg");
}
input:invalid:not(:placeholder-shown):not(:focus) + label::after {
  content: url("Photos/invalidsvg.svg");
}
label::after {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -1.1rem;
  top: .5rem;
}

/* Error Messages */
label ~ p {
  display: none;
  background-color: rgb(128, 128, 128);
  border-radius: 10px;
  text-align: center;
  color: rgb(204, 12, 12);
  font-size: 14px;
  max-width: 12rem;
  margin: 0;
}

input:invalid:not(:focus):not(:placeholder-shown) ~ p {
  display: block;
}

/* Avatar */
.avatar-display {
  display: none;
  width: 6rem;
  height: 6rem;
  align-self: center;
  border-radius: 10px;
  border: 1px ridge tan;
}

.avatar-display + p {
  font-size: 1rem;
  margin: 0;
  color: tan;
}

.avatar-li {
  width: 12rem;
  flex-direction: row;
  gap: .5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.avatar-li div {
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: 2px solid tan;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.avatar-li div:nth-child(1) {
  background-image: url("Photos/moto2.jpg");
}
.avatar-li div:nth-child(2) {
  background-image: url("Photos/canyoning.jpg");
}
.avatar-li div:nth-child(3) {
  background-image: url("Photos/hammock.jpg");
}
.avatar-li div:last-child {
  position: relative;
  text-align: center;
}
.avatar-li div:nth-child(1):hover, .avatar-li div:nth-child(2):hover, 
.avatar-li div:nth-child(3):hover {
  border: 2px solid blue;
  transform: scale(1.5);
  transition: all ease .1s;
  z-index: 2;
}
.avatar-li div:last-child:hover {
  border: 2px solid blue;
}

#avatar {
  width: 100%;
  opacity: 0;
  height: 100%;
}
#avatar + label {
  color: tan;
  width: 100%;
  position: absolute;
  top: .75rem;
}

button {
  width: 12rem;
  height: 3rem;
  background-color: tan;
  color: white;
  position: relative;
  text-align: start;
  font-size: 1rem;
  border-radius: 10px;
  border-style: outset;
  text-align: center;
}

button + p {
  font-size: 12px;
  margin: 0;
  margin-top: .25rem;
}

@media screen and (min-width: 801px) {

  .container {
    width: 32rem;
    height: auto;
  }
  
  ul {
    gap: 2rem;
  }
  
  li {
    position: relative;
    margin: 0;
    align-items: center;
  }
  li:first-child, .avatar-li, .choose, li:last-child {
    grid-column: 1 / 3;
  }
  li:nth-child(2), li:nth-child(4), li:nth-child(6) {
    justify-self: end;
  }
  li:nth-child(3), li:nth-child(5), li:nth-child(7) {
    justify-self: start;
  }
  .ricehat {
    margin: 1rem 0 .5rem;
  }

  .avatar-li {
    margin: -1.5rem;
    width: 20rem;
  }

  /* Labels */
  label:not(label[for=avatar]) {
    position: absolute;
    top: .5rem;
    left: .25rem;
  }
  input:focus + label, input:valid:not(:placeholder-shown) + label:not(#avatar+label), 
  input:not(:focus):not(:placeholder-shown):invalid + label {
    transition: all ease .2s;
    transform: translateY(-1.5rem);
    font-weight: 600;
    font-size: 14px;
    color: white;
  }
  input:valid:not(input[type="file"]):not(:placeholder-shown) + label::after,
  input:invalid:not(:focus):not(:placeholder-shown) + label::after {
    left: 10.5rem;
    top: 1.5rem;
  }

  input:invalid:not(:focus):not(:placeholder-shown) ~ p {
    top: 1.9rem;
    width: 13rem;
    position: absolute;
    margin: 0 auto;
  }

  .avatar-display {
    position: absolute;
    display: block;
    bottom: 15rem;
    left: -11rem;
  }

  .avatar-display + p {
    margin-top: -1.25rem;
  }
  
  button {
    margin-top: .75rem;
    width: 6rem;
    height: 3rem;
  }
}
